/Técnicas de Programacao/Aula02/nbproject/private/
/Técnicas de Programacao/Aula02/build/
/Técnicas de Programacao/Aula03/build/
/Técnicas de Programacao/Aula04/build/
/Técnicas de Programacao/Matemática/nbproject/private/
/Técnicas de Programacao/Matematica/nbproject/private/
/Técnicas de Programacao/Matematica/build/
/Técnicas de Programacao/Aula05/nbproject/private/
/Técnicas de Programacao/Aula05/build/
/Estrutura de Dados/Aula02/build/
/Técnicas de Programacao/Aula06/build/
/Técnicas de Programacao/Exercicio Conta Bancaria/nbproject/private/
/Técnicas de Programacao/Exercicio Conta Bancaria/build/
/Técnicas de Programacao/Aula05ED/nbproject/private/