/Técnicas de Programacao/Aula02/nbproject/private/
/Técnicas de Programacao/Aula02/build/
/Técnicas de Programacao/Aula03/build/
/Técnicas de Programacao/Aula04/build/
/Técnicas de Programacao/Matemática/nbproject/private/
/Técnicas de Programacao/Matematica/nbproject/private/
/Técnicas de Programacao/Matematica/build/
/Técnicas de Programacao/Aula05/nbproject/private/
/Técnicas de Programacao/Aula05/build/
/Estrutura de Dados/Aula02/build/
/Técnicas de Programacao/Aula06/build/
/Técnicas de Programacao/Exercicio Conta Bancaria/nbproject/private/
/Técnicas de Programacao/Exercicio Conta Bancaria/build/
/Técnicas de Programacao/Aula05ED/nbproject/private/
/Técnicas de Programacao/Aula08TP/target/
/Técnicas de Programacao/Aula09TP/target/
/Técnicas de Programacao/ListaCircularExercicio/build/
/Técnicas de Programacao/Aula10Exercicio/build/
/Técnicas de Programacao/Aula10Exercicio/nbproject/private/
/Técnicas de Programacao/Aula11Exercicios/nbproject/private/
/Técnicas de Programacao/Aula11Exercicios/build/
/Técnicas de Programacao/ExercicioBalanceamento/nbproject/private/
/Técnicas de Programacao/ExercicioBalanceamento/build/
/Técnicas de Programacao/ExercicioArvores/nbproject/private/
/Técnicas de Programacao/Aula13/nbproject/private/
/Técnicas de Programacao/Aula13/build/
/Técnicas de Programacao/ExercicioArvores/build/
/Técnicas de Programacao/ExercicioFeiraoVeiculos/nbproject/private/
/Técnicas de Programacao/ExercicioFeiraoVeiculos/build/
